@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

.App {
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.SearchBar { 
  width: 50%;
}

.SearchButton {
margin-top: 50px;
}

.Search {
  width: 60%;
}

.images {
  transition: 0.3s;
}

.images:hover, .images:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Space btw Tab Header and Images */
.imagebox {
  margin-top: 40px;
}

/* Space btw Tab Box and Search Button  */
.Tabs {
  margin-top: 100px;
}

.BackSpace {
  margin-left: 50px;
  padding: 50px;
}

.Backbtn {
  width: 3%;
}